{% extends "inicio.html" %} 

{% block content2 %}
    <div class="section-header">
      <h3 class="section-title">Sobre nosotros</h3>
      <span class="section-divider"></span>
      <p class="section-description">
        Solo un proyecto al cual solo se le dedicaron un par de horas de las madrugadas.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-10" data-aos="fade-right">
        {% load static %}
        <img src="{% static "about-meme-img.png" %}" alt="">
      </div>

      <div class="col-lg-6 content" data-aos="fade-left">
        <p>
          Se supone que es una galeria de imagenes aunque de casualidad la mayorias son memes.
        </p>

        <hr/>

        <p>
            Los integrantes del proyecto:
            
        </p>

        <ul>
          <li><i class="ion-android-checkmark-circle"></i> Palacio, Ivan Sebastian</li>

          <li><i class="ion-android-checkmark-circle"></i> Marcos Daniel Caceres</li>

          <li><i class="ion-android-checkmark-circle"></i> Saez, Ivan Walter Agustin</li>
          <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
        </ul>

        <p>
          Mas de 10 litros de cafe y 20 kilos de mate fueron sacrificados en el desarrollo de esta aberracion.
        </p>
      </div>
    </div>

{% endblock content2 %}
